@font-face {
    font-family: 'BemboStd';
    src: url('assets/BemboStd.woff2') format('woff2');
}

* {
    margin: 0;
    box-sizing: border-box;
}

.banner{
    width: 300px;
    height: 600px;
    overflow: hidden;
    position: relative;
}


.banner .carousel .container1 img{
    width: 300px;
    height: 453px;
    object-fit: cover;
    object-position: 0 0;
    
}

.banner .logo img {
    width: 199px;
    height: 63px;
    position: absolute;
    top: 176px;
    left: 50.5px;
}

.banner .overlay {
    width: 300px;
    height: 165px;
    position: absolute;
    margin: 435px 0 0;
    padding: 29.5px 19.5px 32px;
    background-color: #f9f7f0;
}

.banner .overlay .productname {
    width: 156.5px;
    height: 52px;
    font-family: 'BemboStd',sans-serif;
    font-size: 25px;
    text-align: center;
    line-height: 29px;
    letter-spacing: 0.5px;
    position: absolute;
    bottom: 83.5px;
    left: 72px;
    object-fit: contain;
    color: #000000;
}

.banner .overlay .arrow-right img{
    width: 7px;
    height: 12px;
    position: absolute;
    bottom: 115px;
    right: 19.5px;
    object-fit: contain;
    
}

.banner .overlay .arrow-left img{
    width: 7px;
    height: 12px;
    transform: scaleX(-1);
    position: absolute;
    bottom: 115px;
    left: 19.5px;
    object-fit: contain;   
}

.banner .overlay .cta img{
    width: 80px;
    position: absolute;
    bottom: 32px;
    left: 108px;
}